@layout("/common/_container.html"){
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="${ctxPath}/static/css/me-style.css"/>
</head>
<body>
<div class="contentpanel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <input id="jobId" value="${item.id}" hidden="hidden">
            <h4 class="panel-title">${item.name}</h4>
            <p>${item.desc}</p>
        </div>
        <div class="panel-body fl">
            <!--表格-->
            <div class="tabler-model3 fl">
                <div class="title">输入设置</div>
                <form>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">数据源类型</label>
                        <div class="col-input">
                            <!--<input type="text" class="form-control" placeholder="mysql" />-->
                            <select class="form-control" id="input_connect_type">
                                @for(ConfConnectType in allConfConnectType){
                                @if(jobConfig !=null && jobConfig.input_connect_type == ConfConnectType.id){
                                <option value=${ConfConnectType.id} selected="selected">${ConfConnectType.name}</option>
                                @}else{
                                <option value=${ConfConnectType.id}>${ConfConnectType.name}</option>
                                @}
                                @}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">数据源连接</label>
                        <div class="col-input">
                            <select class="form-control" id="input_connect_id">
                                @for(connect in connects){
                                @if(jobConfig !=null && jobConfig.input_connect_id == connect.id){
                                <option value=${connect.id} selected="selected">${connect.name}</option>
                                @}else{
                                <option value=${connect.id}>${connect.name}</option>
                                @}
                                @}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-th col-th3 fl">sql语句</label>
                        <div class="col-input">
                            <textarea id="input_input_content" class="form-control"
                                      placeholder="select * from tables where dt >='{yyyy-mm-dd}'">${jobConfig.input_input_content}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-th col-th3 fl">文件位置</label>
                        <div class="col-input">
                            <input type="text" id="input_file_position" class="form-control" placeholder=""
                                   value="${jobConfig.input_file_position}"/>
                        </div>
                    </div>

                </form>
            </div>

            <div class="tabler-model3 fl">
                <div class="title">输出设置</div>
                <form>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">数据库</label>
                        <div class="col-input">
                            <select class="form-control" id="output_db_name">
                                @for(db_name in dbList){
                                @if(jobConfig !=null && jobConfig.output_db_name == db_name){
                                <option value=${db_name} selected="selected">${db_name}</option>
                                @}else{
                                <option value=${db_name}>${db_name}</option>
                                @}
                                @}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">数据表</label>
                        <div class="col-input">
                            <select class="form-control" id="output_table_name">
                                @for(tableName in tableList){
                                @if(jobConfig !=null && jobConfig.output_table_name==tableName){
                                <option value=${tableName} selected="selected">${tableName}</option>
                                @}else{
                                <option value=${tableName}>${tableName}</option>
                                @}
                                @}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">写入模式</label>
                        <div class="col-input">
                            <select class="form-control" id="output_write_model">
                                @if(jobConfig !=null && jobConfig.output_write_model=='append'){
                                <option selected="selected" value="append">追加</option>
                                <option value="overwrite">覆盖</option>
                                @}else{
                                <option value="append">追加</option>
                                <option selected="selected" value="overwrite">覆盖</option>
                                @}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">数据分区</label>
                        <div class="col-input">
                            <input type="text" class="form-control" placeholder="pt1={yyyy-mm},pt2={yyyy-mm-dd}"
                                   id="output_data_partition" value="${jobConfig.output_data_partition}"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tabler-model3 fl">
                <div class="title">调度设置</div>
                <form>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">定时执行</label>
                        <div class="col-input">
                            <input type="text" id="schedule_crontab" class="form-control" placeholder="H/15 * * * *"
                                   value="${jobConfig.schedule_crontab}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">依赖执行</label>
                        <div class="col-input">
                            <input type="text" id="schedule_depend" class="form-control"
                                   value="${jobConfig.schedule_depend}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel-body fl">
            <div class="tabler-model3">
                <div class="title">高级设置</div>
                <form>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">计算资源</label>
                        <div class="col-input">
                            <!--<input type="text" class="form-control" placeholder="mysql" />-->
                            <select class="form-control" id="hight_resource">
                                @if(jobConfig !=null && jobConfig.hight_resource=='cluster'){
                                <option selected="selected" value="cluster">集群资源</option>
                                <option value="local">本地资源</option>
                                @}else{
                                <option value="cluster">集群资源</option>
                                <option selected="selected" value="local">本地资源</option>
                                @}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">线程数</label>
                        <div class="col-input">
                            <input id="hight_thread" type="text" class="form-control" placeholder="1"
                                   value="${jobConfig.hight_thread}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">文件数</label>
                        <div class="col-input">
                            <input id="hight_file_num" type="text" class="form-control" placeholder="1"
                                   value="${jobConfig.hight_file_num}"/>
                        </div>
                    </div>
                </form>
            </div>

            <!--保存-->
            <div class="btn-group fr mtop total-btn">
                <#button btnCss="btn btn-save" name="保存" id="save" icon="fa-eraser" clickFun="JobConf.save()"/>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {

        if($("#input_connect_id").val()==null){
            showInConnect();
        }

        if ( $("#output_table_name").val()==null){
            showHiveTable();
        }

        $("#input_connect_type").change(function () {
            showInConnect();
        })
    })

    $("#output_db_name").change(function () {
        showHiveTable();
    })


    function showInConnect() {
        var option = $("#input_connect_type option:selected");
        $.get(Feng.ctxPath + '/confConnect/listByTypeId/' + option.val(), {}, function (res) {

            var options = ""
            for (var i = 0; i < res.length; i++) {
                options = options + "<option value=" + res[i].id + ">" + res[i].name + "</option>"
            }
            $("#input_connect_id").html(options)
        }, "json")
    }


    function showHiveTable() {

        var option = $("#output_db_name option:selected");

        $.get(Feng.ctxPath + '/confConnect/listHiveTableBydbName/' + option.val(), {}, function (res) {
            var options = ""
            for (var i = 0; i < res.length; i++) {
                options = options + "<option value=" + res[i] + ">" + res[i] + "</option>"
            }
            $("#output_table_name").html(options)
        }, "json")
    }

</script>
<script src="${ctxPath}/static/modular/bdp/jobInfo/jobConf.js"></script>
</html>
@}