@layout("/common/_container.html"){
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="${ctxPath}/static/css/me-style.css" />
</head>
<body>
<div class="contentpanel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <input id="jobId" value="${item.id}" hidden="hidden">
            <h4 class="panel-title">${item.name}</h4>
            <p>${item.desc}</p>
        </div>
        </div>
        <div class="panel-body">
            <div class="clear"></div>
            <!--表格-->
            <div class="tabler-model3 fl">
                <div class="title">基本设置</div>
                <form>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">程序主类</label>
                        <div class="col-input">
                            <input type="text" id="base_proc_main_class" value="${jobConfig.base_proc_main_class}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">输入路径</label>
                        <div class="col-input">
                            <input type="text"  id="base_proc_main_in" value="${jobConfig.base_proc_main_in}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">输出路径</label>
                        <div class="col-input">
                            <input type="text"   id="base_proc_main_out" value="${jobConfig.base_proc_main_out}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">程序参数</label>
                        <div class="col-input">
                            <input type="text"   id="base_proc_main_args" value="${jobConfig.base_proc_main_args}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">程序上传</label>
                    </div>
                    <div class="clear"></div>
                    <div class="form-group" style="margin-top: 15px;">
                        <div class="col-input">
                            <input type="text"  id="base_proc_main_file" value="${jobConfig.base_proc_main_file}" class="form-control fl" style="margin-left: 4.5%;padding: 19px 15px;" placeholder="" />
                        </div>
                        <button class="wenjian-btn">文件</button>
                    </div>
                </form>
            </div>
            <div class="tabler-model3 fl">
                <div class="title">资源设置</div>
                <form>
                    <div class="form-group">
                        <label class="col-th col-th3-en fl">spark.driver.memory</label>
                        <div class="col-input">
                            <input type="text"   id="resource_dm" value="${jobConfig.resource_dm}" class="form-control form-control-input" placeholder="1g" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3-en fl">spark.driver.cores</label>
                        <div class="col-input">
                            <input type="text"   id="resource_dc" value="${jobConfig.resource_dc}" class="form-control form-control-input" placeholder="1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3-en fl">spark.executor.memory</label>
                        <div class="col-input">
                            <input type="text"   id="resource_em" value="${jobConfig.resource_em}" class="form-control form-control-input" placeholder="1g" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3-en fl">spark.executor.cores</label>
                        <div class="col-input">
                            <input type="text"   id="resource_ec" value="${jobConfig.resource_ec}" class="form-control form-control-input" placeholder="1" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="tabler-model3 fl">
                <div class="title">调度设置</div>
                <form>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">定时执行</label>
                        <div class="col-input">
                            <input type="text" id="schedule_crontab" class="form-control" placeholder="H/15 * * * *"  value="${jobConfig.schedule_crontab}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">依赖执行</label>
                        <div class="col-input">
                            <input type="text" id="schedule_depend" class="form-control" value="${jobConfig.schedule_depend}"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <!--保存-->
            <div class="btn-group fr mtop total-btn">
                <div>
                    <#button btnCss="btn btn-save" name="保存" id="save" icon="fa-eraser" clickFun="JobConf.save()"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="${ctxPath}/static/modular/bdp/jobInfo/jobConf.js"></script>

<script type="application/javascript">

</script>

</html>
@}