@layout("/common/_container.html"){
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="${ctxPath}/static/css/me-style.css" />
</head>
<body>
<div class="contentpanel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <input id="jobId" value="${item.id}" hidden="hidden">
            <h4 class="panel-title">${item.name}</h4>
            <p>${item.desc}</p>
        </div>
        <div class="panel-body fl">
                <!--表格-->
            <div class="textarea-model fl">
                <div class="title">HQL语句</div>
                <textarea class="textarea" id="sql_statment">${jobConfig.sql_statment}</textarea>
                <div class="btn-group fr mtop">
                    <#button btnCss="btn btn-save" name="保存" id="save" icon="fa-eraser" clickFun="JobConf.save()"/>
                </div>
            </div>
            <div class="tabler-model fl">
                <div class="title">调度设置</div>
                <form>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">定时执行</label>
                        <div class="col-input">
                            <input type="text" id="schedule_crontab" class="form-control" placeholder="H/15 * * * *"  value="${jobConfig.schedule_crontab}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-th col-th3 fl">依赖执行</label>
                        <div class="col-input">
                            <input type="text" id="schedule_depend" class="form-control" value="${jobConfig.schedule_depend}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="${ctxPath}/static/modular/bdp/jobInfo/JobConf.js"></script>
</html>

@}