@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="任务编号" value="${item.id}" underline="true"/>
                            <#input id="name" name="任务名称" value="${item.name}" underline="true"/>
                            <#input id="typeId" name="任务类型 1 数据接入 2 SQL计算 3 程序执行 4 数据推送" value="${item.typeId}" underline="true"/>
                            <#input id="desc" name="任务描述" value="${item.desc}" underline="true"/>
                            <#input id="enable" name="任务状态" value="${item.enable}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="createPer" name="创建用户" value="${item.createPer}" />
                </div>

                <div class="col-sm-6">
                            <#input id="modTime" name="修改时间" value="${item.modTime}" underline="true"/>
                            <#input id="modPer" name="修改用户" value="${item.modPer}" underline="true"/>
                            <#input id="lastRunState" name="上次运行状态 0 失败 1 成功 2 运行中" value="${item.lastRunState}" underline="true"/>
                            <#input id="lastRunTime" name="上次运行时间" value="${item.lastRunTime}" underline="true"/>
                            <#input id="lastRunCost" name="上次运行耗时 单位ms" value="${item.lastRunCost}" underline="true"/>
                            <#input id="userInfoId" name="所属人id" value="${item.userInfoId}" underline="true"/>
                            <#input id="jobSetId" name="所属任务集" value="${item.jobSetId}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="JobInfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="JobInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/bdp/jobInfo/jobInfo_info.js"></script>
@}
