@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 br">
                    <#select id="type" name="类别" underline="true">
                    <option value="0">RDBMS</option>
                    <option value="1">FTP</option>
                </#select>
                    <#input id="name" name="连接类型名称" underline="true"/>
                </div>
            <div class="col-sm-6">
            <#input id="driverClass" name="驱动类" underline="true"/>
            <#input id="desc" name="连接类型描述" underline="true"/>
        </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ConfConnectTypeInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ConfConnectTypeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/bdp/confConnectType/confConnectType_info.js"></script>
@}
