@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="JobRunHistory.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="JobRunHistoryTableToolbar" role="group">
                            @if(shiro.hasPermission("/jobRunHistory/add")){
                                <#button name="添加" icon="fa-plus" clickFun="JobRunHistory.openAddJobRunHistory()"/>
                            @}
                            @if(shiro.hasPermission("/jobRunHistory/update")){
                                <#button name="修改" icon="fa-edit" clickFun="JobRunHistory.openJobRunHistoryDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/jobRunHistory/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="JobRunHistory.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="JobRunHistoryTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/bdp/jobRunHistory/jobRunHistory.js"></script>
@}
